@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px) translateX(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header1 {
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #eee;
}

.roomchat {
  height: 320px;
  padding-top: 2%;
  overflow: auto;
  background: white;
}

.footer {
  width: 10px;
  border-radius: 0px 0px 5px 5px;
  background: white;
  -webkit-box-shadow: 1px 1px 7px 5px #DCDCDC;
          box-shadow: 1px 1px 7px 5px #DCDCDC;
}

.image-upload > input {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #00008B;
  color: white;
  padding: 15px 15px;
  border-radius: 50px 10px 50px 50px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 50px;
  width: 100px;
  position: absolute;
  -webkit-animation: fadeIn 400ms ease-in;
          animation: fadeIn 400ms ease-in;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
  border-radius: 5px;
  margin-bottom: 2%;
  margin-right: 3%;
  -webkit-animation: fadeInUp2 500ms ease-in-out;
  /* Chrome, Safari, Opera */
  animation: fadeInUp2 500ms ease-in-out;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border: transparent;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  width: 75%;
  margin-top: 10%;
  float: right;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
  margin-bottom: 5%;
}

.settings-tray .no-gutters {
  padding: 0;
}

.settings-tray--right {
  float: right;
  padding-right: 0px;
}

.settings-tray--right i {
  margin-top: 0px;
  font-size: 25px;
  color: grey;
  margin-left: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}

input {
  border: none;
  border-radius: 30px;
  width: 250px;
}

input::-webkit-input-placeholder {
  color: #DCDCDC;
  font-weight: 300;
  margin-left: 20px;
}

input:-ms-input-placeholder {
  color: #DCDCDC;
  font-weight: 300;
  margin-left: 20px;
}

input::-ms-input-placeholder {
  color: #DCDCDC;
  font-weight: 300;
  margin-left: 20px;
}

input::placeholder {
  color: #DCDCDC;
  font-weight: 300;
  margin-left: 20px;
}

input:focus {
  outline: none;
}

input .time {
  color: grey;
}

input--onhover:hover {
  background: #74b9ff;
  cursor: pointer;
}

input--onhover:hover p,
input--onhover:hover h6,
input--onhover:hover .time {
  color: #fff !important;
}

hr {
  margin: 5px auto;
  width: 100%;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 3px 20px;
  border-radius: 9px;
  position: relative;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.chat-bubble--left {
  max-width: 75%;
  float: left;
  background: #eee;
  border-radius: 5px 20px 20px 20px;
  margin-top: 0%;
  margin-left: 0px;
}

.chat-bubble--left:after {
  left: 0;
  border-right-color: #74b9ff;
  border-left: 0;
  margin-left: -20px;
}

.chat-bubble--right {
  max-width: 75%;
  float: right;
  border-radius: 20px 5px 20px 20px;
  margin-top: 1%;
  margin-right: 2px;
  background: #00008B;
  color: white;
}

.chat-bubble--right:after {
  right: 0;
  border-left-color: #eee;
  border-right: 0;
  margin-right: -20px;
}

.time-right {
  float: right;
  margin-right: 2%;
  font-size: 10px;
  color: grey;
  opacity: 0%;
}

.time-right:hover {
  opacity: 100%;
}

.time-left {
  float: left;
  margin-left: 14%;
  font-size: 10px;
  color: grey;
  opacity: 0%;
}

.time-left:hover {
  opacity: 100%;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background: -webkit-gradient(linear, right top, left top, from(#021a4b), to(#002d85));
  background: linear-gradient(270deg, #021a4b, #002d85);
  height: 80px;
  padding-top: 5%;
  color: white;
  border-radius: 7px 7px 0px 0px;
  padding-top: 3%;
  margin-bottom: 1%;
}

.main {
  width: 330px;
  height: 526px;
  border-radius: 7px;
  background: #eee;
  -webkit-box-shadow: 1px 1px 6px 5px #DCDCDC;
          box-shadow: 1px 1px 6px 5px #DCDCDC;
}

.main2 {
  width: 300px;
  height: 470px;
  background: #eee;
  -webkit-box-shadow: 1px 1px 6px 5px #DCDCDC;
          box-shadow: 1px 1px 6px 5px #DCDCDC;
  border-radius: 7px 7px 0px 0px;
}

.imageadmin {
  border-radius: 50%;
  margin-bottom: 3%;
}

.posisi {
  width: 13%;
  float: right;
  margin-bottom: 1%;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  background: grey;
  border: none;
  opacity: 75%;
  cursor: pointer;
}

.posisi:hover {
  opacity: 100%;
}

.content-head {
  bottom: 30px;
  margin-left: 15px;
  height: 130px;
  border-radius: 10px;
  border-top: 10px #000000;
  margin-top: 2%;
  padding-top: 13px;
  background: white;
  -webkit-animation: fadeInUp 500ms ease-in-out;
  /* Chrome, Safari, Opera */
  animation: fadeInUp 500ms ease-in-out;
  -webkit-box-shadow: 1px 2px 7px  grey;
          box-shadow: 1px 2px 7px  grey;
}

.content-head2 {
  bottom: 30px;
  margin-left: 15px;
  max-height: 590px;
  border-radius: 10px;
  border-top: 10px #000000;
  margin-top: 2%;
  padding-top: 13px;
  background: white;
  padding-bottom: 13px;
  -webkit-animation: fadeInUp 500ms ease-in-out;
  /* Chrome, Safari, Opera */
  animation: fadeInUp 500ms ease-in-out;
  -webkit-box-shadow: 1px 2px 7px  grey;
          box-shadow: 1px 2px 7px  grey;
}

.buttonchat {
  background: transparent;
  border: transparent;
  padding-bottom: 0px;
  padding-top: 5%;
  cursor: pointer;
  height: 90%;
  width: 100%;
  border-radius: 10px;
  margin: auto 10px;
}

.buttonchat1 {
  background: transparent;
  border: transparent;
  padding-bottom: 0px;
  padding-top: 5px;
  cursor: pointer;
  height: 60px;
  width: 95%;
  border-radius: 10px;
  margin: auto;
}

.buttonchat:hover,
.buttonchat1:hover {
  background: #eee;
  opacity: 100%;
}

.search {
  border-radius: 50%;
  width: 11.5%;
  padding: 5px;
  border: 1px solid #dfdfdf;
  background: transparent;
  float: right;
  margin-bottom: 2%;
  cursor: pointer;
  opacity: 75%;
}

.search:hover {
  opacity: 100%;
  background: #eee;
}

.icon {
  float: left;
  font-size: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.lastday hr {
  margin-top: 15%;
}

.title-chat {
  float: left;
  margin-left: 10%;
}

.title {
  float: left;
  margin-left: 15%;
}

.lastchat {
  font-size: 13px;
  float: right;
  color: grey;
}

.back {
  padding-left: 20px;
  padding-top: 1%;
}

.alas {
  background: transparent;
}

.back2 {
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 2px;
}

.kembali {
  width: 35px;
  padding: 5px;
  border-radius: 3px;
  border: transparent;
  color: white;
  background: grey;
  opacity: 50%;
  cursor: pointer;
}

.kembali:hover {
  opacity: 90%;
}

.judul {
  font-size: 15px;
  padding-top: 0px;
  color: white;
}

.timeonline {
  font-size: 12px;
  color: #eee;
}
/*# sourceMappingURL=style.css.map */